.hamburger {
  z-index: 1000;
  overflow: visible;
  border: 0;
  padding: 15px 15px;
  transition: 0.3s ease-in-out;
  margin-right: -15px;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  outline: none;
}

.hamburger.is-active:hover .hamburger-inner, .hamburger.is-active:hover .hamburger-inner:before, .hamburger.is-active:hover .hamburger-inner:after {
  background-color: #f3ecde;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  position: absolute;
  width: 24px;
  height: 3px;
  transition: 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 1px;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -8px;
}

.hamburger-inner::after {
  bottom: -8px;
}

.hamburger:hover .hamburger-inner, .hamburger:hover .hamburger-inner:before, .hamburger:hover .hamburger-inner:after {
  background-color: #f3ecde;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: #ffffff;
}

.hamburger--3dxy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg);
}

.hamburger--3dxy.is-active .hamburger-inner::before {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamburger--3dxy.is-active .hamburger-inner::after {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}