.orange {
  color: #f4a600;
}

.gray {
  color: rgba(207, 207, 221, .4);
}

.white {
  color: #ffffff;
}

.text-muted {
  color: var(--color-gray);
}

.border-muted {
  border-bottom: 1px solid var(--color-gray);
}

.text-color-light {
  --title-color: var(--color-light);
  color: var(--color-light);
}

.overflow {
  overflow: hidden;
}
