//  Fonts Color
$font-color-default: rgba(255, 255, 255, 1);
$font-color-default-70: rgba(17, 34, 62, .7);
$font-color-default-50: rgba(17, 34, 62, .5);
$font-color-default-30: rgba(17, 34, 62, .3);

$font-color-white: #fff;
$font-color-orange: #FFD788;
$font-color-black: #1B1711;

$font-color-input: #A798B4;
$font-color-error: #FF2E53;

// Others Color
$color_black: #0B080E;



$color_primary: #3F5150;
$color_context: #f4a600;
$color_white: #fff;
$color_main: #02d0c6;

$color_dark: #4e4444;
$color_gray: #8b8b8b;
$color_light_gray: #b2b2b2;
$color_error: #e24147;