.gradient-text {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  &_style-1 {
    background: -webkit-linear-gradient(180deg,#2f2b70 -9.12%,#00bfa6 116.47%);
  }
  &_style-2 {
    background: -webkit-linear-gradient(94.64deg,#2f2b70 -4.46%,#625cc6 61.52%);
  } 
}

.content-image {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.call-for-appointment-box {
  --title-color: var(--color-light);
  color: var(--color-light);
  border-radius: 20px;
  padding: 50px 70px;
  background: var(--section-bg-gradient-dark);
  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  &__icon {
    display: block;
    flex: 0 0 auto;
    width: 100px;
    height: auto;
  }
  &__text {
    text-align: center;
    flex: 1 1 auto;
    margin: 0;
  }
  &__button {
    flex: 0 0 auto;
  }
  @include media-breakpoint-down(xl) {
    &__title {
      margin-bottom: 40px;
    }
    &__icon {
      display: none;
    }
    &__content {
      flex-direction: column;
      align-items: center;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 20px;
    &__title {
      margin-bottom: 25px;
    }
  }
}

.short-info-item {
  font-size: 34px;
  text-align: center;
  @include media-breakpoint-down(lg) {
    font-size: 30px;
  }
  @include media-breakpoint-down(sm) {
    font-size: 24px;
  }
}

.review-box {
  padding: 40px 45px;
  border-radius: 20px;
  background: linear-gradient(109.3deg, #554FB6 -0.77%, #2F2B70 24.75%, #2F2B70 79.82%, #554FB6 102.39%);
  color: #fff;
  display: flex;
  gap: 0 45px;
  &__image {
    display: block;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    width: 175px;
    height: 175px;
    flex-shrink: 0;
    border: 5px solid #fff;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    flex: 1 1 auto;
    padding-top: 15px;
  }
  &__content-head {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 20px;
  }
  &__title {
    font-size: 28px;
    font-weight: 700;
  }
  &__text {
    font-style: italic;
  }
  @include media-breakpoint-down(xl) {
    padding: 30px 35px;
    gap: 0 35px;
  }
  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    &__image {
      margin-bottom: 20px;
      width: 120px;
      height: 120px;
    }
    &__content {
      padding: 0;
    }
    &__title {
      font-size: 22px;
    }
    &__rating {
      width: 120px;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}