.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  transition: height var(--trs-1), background-color var(--trs-1);
  & > .container {
    position: relative;
    z-index: 2;
  }
  /* &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: var(--section-bg-gradient-1);
    transition: opacity var(--trs-1);
  } */

  &_fixed {
    height: var(--header-fixed-height);
    background-color: var(--color-default);
  }

  &__logo {
    display: block;
    height: auto;
    flex: 0 0 75px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__button {
    flex: 0 0 auto;
    --font-weight: 700;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    margin: 0 60px;

    @include md-down {
      display: none;
    }

    &-list {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-link {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 22px;
      color: #e5e5e5;
      transition: var(--trs-1);
      white-space: nowrap;

      &:hover, &.active {
        color: var(--color-accent-1) !important;
      }

      svg {
        margin-left: 8px;
      }
    }
  }

  @include media-breakpoint-down(xxl) {
    &__nav {
      margin: 0 100px;
    }
    &__nav-link {
      font-size: 20px;
    }
    &__button {
      --font-size: 20px;
      --padding-x: 30px;
    }
  }

  @include media-breakpoint-down(xl) {
    &__nav {
      margin: 0 40px;
    }
    &__nav-link {
      font-size: 18px;
    }
    &__button {
      --font-size: 18px;
      --padding-x: 25px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__button {
      display: none;
    }
    &__logo {
      flex: 0 0 60px;
      order: 2;
    }
  }

  @include sm-down {
    padding: 10px 0;
  }
    
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  &__hamburger-wrap {
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    position: relative;
    z-index: 2;
    @include media-breakpoint-down(lg) {
      display: block;
    }
  }
}

.header-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: opacity var(--trs-1), visibility var(--trs-1);
  padding-top: var(--header-height);
  background-color: var(--color-bg-modal);
  opacity: 0;
  visibility: hidden;
  &__button {
    margin-top: 30px;
  }

  &.opened {
    opacity: 1;
    visibility: visible;
    .header-mobile__circle {
      top: -560px;
      left: -565px;
      width: 1670px;
      height: 1660px;
    }
  }

  &__circle {
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 30px;
    width: 0;
    height: 0;
    transition: var(--trs-2);
    border-radius: 50%;
    background: var(--section-bg-gradient-dark);
  }
  &__container {
    min-height: 100%;
    overflow: auto;
    position: relative;
    z-index: 2;
  }
  &__nav-item {
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity var(--trs-1), transform var(--trs-1);
    &:not(:last-child) {
      border-bottom: 1px solid #6f78b6;
    }
    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__nav-link {
    display: block;
    font-size: 22px;
    line-height: 60px;
    font-weight: 500;
    color: #e5e5e5;
  }
}

.header-mobile__nav-item.animate:nth-of-type(1) {
  transition-delay: 0s;
}

.header-mobile__nav-item.animate:nth-of-type(2) {
  transition-delay: 0.03s;
}

.header-mobile__nav-item.animate:nth-of-type(3) {
  transition-delay: 0.06s;
}

.header-mobile__nav-item.animate:nth-of-type(4) {
  transition-delay: 0.09s;
}

.header-mobile__nav-item.animate:nth-of-type(5) {
  transition-delay: 0.12s;
}

.header-mobile__nav-item.animate:nth-of-type(6) {
  transition-delay: 0.15s;
}