<header class="header" id="header">
  <div class="container">
    <div class="header__wrap"><a class="header__logo" href="/"><img src="/img/logos/logo.png" alt="image" /></a>
      
      <nav class="header__nav">
        <ul class="header__nav-list">

          <li class="header__nav-item">
            <a class="header__nav-link @@if (page === 'main') { active }" href="/">
              Код-ревью
              <svg class="sprite-icon">
                <use xlink:href="/img/icons/sprite.svg#caret-bottom"></use>
              </svg>
            </a>
            <div class="header__dropdown">
              <ul class="header__dropdown-list">
                <li class="header__dropdown-item"><a href="/#welcome" data-action="scroll" class="header__dropdown-link">Главная</a></li>
                <li class="header__dropdown-item"><a href="/#about" data-action="scroll" class="header__dropdown-link">О нас</a></li>
                <li class="header__dropdown-item"><a href="/#reviews" data-action="scroll" class="header__dropdown-link">Отзывы</a></li>
                <li class="header__dropdown-item"><a href="/#pricing" data-action="scroll" class="header__dropdown-link">Стоимость</a></li>
              </ul>
            </div>
          </li>

          <li class="header__nav-item">
            <a class="header__nav-link @@if (page === 'sobesedovaniya') { active }" href="/sobesedovaniya.html">
              Собеседования
              <svg class="sprite-icon">
                <use xlink:href="/img/icons/sprite.svg#caret-bottom"></use>
              </svg>
            </a>
            <div class="header__dropdown">
              <ul class="header__dropdown-list">
                <li class="header__dropdown-item"><a href="/sobesedovaniya.html#welcome" data-action="scroll" class="header__dropdown-link">Главная</a></li>
                <li class="header__dropdown-item"><a href="/sobesedovaniya.html#about" data-action="scroll" class="header__dropdown-link">О нас</a></li>
                <li class="header__dropdown-item"><a href="/sobesedovaniya.html#how-it-works" data-action="scroll" class="header__dropdown-link">Как работает</a></li>
                <li class="header__dropdown-item"><a href="/sobesedovaniya.html#reviewers" data-action="scroll" class="header__dropdown-link">Ревьюеры</a></li>
                <li class="header__dropdown-item"><a href="/sobesedovaniya.html#reviews" data-action="scroll" class="header__dropdown-link">Отзывы</a></li>
                <li class="header__dropdown-item"><a href="/sobesedovaniya.html#pricing" data-action="scroll" class="header__dropdown-link">Стоимость</a></li>
              </ul>
            </div>
          </li>

          <li class="header__nav-item">
            <a class="header__nav-link @@if (page === 'reviewer') { active }" href="/reviewer.html">
              Стать ревьюером
              <svg class="sprite-icon">
                <use xlink:href="/img/icons/sprite.svg#caret-bottom"></use>
              </svg>
            </a>
            <div class="header__dropdown">
              <ul class="header__dropdown-list">
                <li class="header__dropdown-item"><a href="/reviewer.html#welcome" data-action="scroll" class="header__dropdown-link">Главная</a></li>
                <li class="header__dropdown-item"><a href="/reviewer.html#about" data-action="scroll" class="header__dropdown-link">О нас</a></li>
                <li class="header__dropdown-item"><a href="/reviewer.html#reviews" data-action="scroll" class="header__dropdown-link">Отзывы</a></li>
                <li class="header__dropdown-item"><a href="/reviewer.html#rating" data-action="scroll" class="header__dropdown-link">Рейтинг</a></li>
              </ul>
            </div>
          </li>
          
        </ul> 
      </nav>

      @@if (page === 'main') { 
        <a href="/#registration-form" data-action="scroll" class="button button_large header__button">Попробовать бесплатно</a>
      }
      @@if (page === 'sobesedovaniya') { 
        <a href="/sobesedovaniya.html#registration-form" data-action="scroll" class="button button_large header__button">Попробовать бесплатно</a>
      }
      @@if (page === 'reviewer') { 
        <a href="https://t.me/YourCodeReview" class="button button_large header__button">Стать ревьюером</a>
      }

      

      <div class="header__hamburger-wrap">
        <button class="hamburger hamburger--3dxy js-hamburger burger--btn" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
      </div>
    </div>

    
    <div class="header-mobile">
      <div class="header-mobile__circle"></div>
      <div class="header-mobile__wrapper" data-scroll-lock-scrollable>
        <div class="container header-mobile__container">
          <nav class="header-mobile__nav">
            <ul class="header-mobile__nav-list">
              
              <li class="header-mobile__nav-item" data-toggle="parent">
                <a class="header-mobile__nav-link @@if (page === 'main') { active }" href="javascript:void(0);" data-toggle="trigger">
                  Код-ревью
                  <svg class="sprite-icon">
                    <use xlink:href="/img/icons/sprite.svg#caret-bottom"></use>
                  </svg>
                </a>
                <ul class="header-mobile__dropdown-list" data-toggle="content">
                  <li class="header-mobile__dropdown-item"><a href="/#welcome" data-action="scroll" class="header-mobile__dropdown-link">Главная</a></li>
                  <li class="header-mobile__dropdown-item"><a href="/#about" data-action="scroll" class="header-mobile__dropdown-link">О нас</a></li>
                  <li class="header-mobile__dropdown-item"><a href="/#reviews" data-action="scroll" class="header-mobile__dropdown-link">Отзывы</a></li>
                  <li class="header-mobile__dropdown-item"><a href="/#pricing" data-action="scroll" class="header-mobile__dropdown-link">Стоимость</a></li>
                </ul>
              </li>
    
              <li class="header-mobile__nav-item" data-toggle="parent">
                <a class="header-mobile__nav-link @@if (page === 'sobesedovaniya') { active }" href="javascript:void(0);" data-toggle="trigger">
                  Собеседования
                  <svg class="sprite-icon">
                    <use xlink:href="/img/icons/sprite.svg#caret-bottom"></use>
                  </svg>
                </a>
                <ul class="header-mobile__dropdown-list" data-toggle="content">
                  <li class="header-mobile__dropdown-item"><a href="/sobesedovaniya.html#welcome" data-action="scroll" class="header-mobile__dropdown-link">Главная</a></li>
                  <li class="header-mobile__dropdown-item"><a href="/sobesedovaniya.html#about" data-action="scroll" class="header-mobile__dropdown-link">О нас</a></li>
                  <li class="header-mobile__dropdown-item"><a href="/sobesedovaniya.html#how-it-works" data-action="scroll" class="header-mobile__dropdown-link">Как работает</a></li>
                  <li class="header-mobile__dropdown-item"><a href="/sobesedovaniya.html#reviewers" data-action="scroll" class="header-mobile__dropdown-link">Ревьюеры</a></li>
                  <li class="header-mobile__dropdown-item"><a href="/sobesedovaniya.html#reviews" data-action="scroll" class="header-mobile__dropdown-link">Отзывы</a></li>
                  <li class="header-mobile__dropdown-item"><a href="/sobesedovaniya.html#pricing" data-action="scroll" class="header-mobile__dropdown-link">Стоимость</a></li>
                </ul>
              </li>
    
              <li class="header-mobile__nav-item" data-toggle="parent">
                <a class="header-mobile__nav-link @@if (page === 'reviewer') { active }" href="javascript:void(0);" data-toggle="trigger">
                  Стать ревьюером
                  <svg class="sprite-icon">
                    <use xlink:href="/img/icons/sprite.svg#caret-bottom"></use>
                  </svg>
                </a>
                <ul class="header-mobile__dropdown-list" data-toggle="content">
                  <li class="header-mobile__dropdown-item"><a href="/reviewer.html#welcome" data-action="scroll" class="header-mobile__dropdown-link">Главная</a></li>
                  <li class="header-mobile__dropdown-item"><a href="/reviewer.html#about" data-action="scroll" class="header-mobile__dropdown-link">О нас</a></li>
                  <li class="header-mobile__dropdown-item"><a href="/reviewer.html#reviews" data-action="scroll" class="header-mobile__dropdown-link">Отзывы</a></li>
                  <li class="header-mobile__dropdown-item"><a href="/reviewer.html#rating" data-action="scroll" class="header-mobile__dropdown-link">Рейтинг</a></li>
                </ul>
              </li>
              
              <li class="header-mobile__nav-item">
                @@if (page === 'main') { 
                  <a href="/#registration-form" data-action="scroll" class="button button_large header-mobile__button">Попробовать бесплатно</a>
                }
                @@if (page === 'sobesedovaniya') { 
                  <a href="/sobesedovaniya.html#registration-form" data-action="scroll" class="button button_large header-mobile__button">Попробовать бесплатно</a>
                }
                @@if (page === 'reviewer') { 
                  <a href="https://t.me/YourCodeReview" class="button button_large header-mobile__button">Стать ревьюером</a>
                }
              </li>
  
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

</header>