<header class="header" id="header">
  <div class="container">
    <div class="header__wrap"><a class="header__logo" href="/"><img src="/img/logos/logo.png" alt="image" /></a>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item"><a class="header__nav-link" href="/">Главная</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="/#about" data-action="scroll">О нас</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="/#reviews" data-action="scroll">Отзывы</a></li>
          <li class="header__nav-item"><a class="header__nav-link" href="/#pricing" data-action="scroll">Стоимость</a></li>
          <li class="header__nav-item"><a class="header__nav-link @@if (page === 'reviewer') {active}" href="/reviewer.html">Стать ревьюером</a></li>
        </ul> 
      </nav>
      <a href="https://t.me/commiters_codereview_bot" class="button button_large header__button">Записаться</a>
      <div class="header__hamburger-wrap">
        <button class="hamburger hamburger--3dxy js-hamburger burger--btn" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
      </div>
    </div>
    <div class="header-mobile">
      <div class="header-mobile__circle"></div>
      <div class="container header-mobile__container" data-scroll-lock-scrollable>
        <nav class="header-mobile__nav">
          <ul class="header-mobile__nav-list">
            <li class="header-mobile__nav-item"><a class="header-mobile__nav-link" href="/">Главная</a></li>
            <li class="header-mobile__nav-item"><a class="header-mobile__nav-link" href="/#about" data-action="scroll">О нас</a></li>
            <li class="header-mobile__nav-item"><a class="header-mobile__nav-link" href="/#reviews" data-action="scroll">Отзывы</a></li>
            <li class="header-mobile__nav-item"><a class="header-mobile__nav-link" href="/#pricing" data-action="scroll">Стоимость</a></li>
            <li class="header-mobile__nav-item"><a class="header-mobile__nav-link active @@if (page === 'reviewer') { }" href="/reviewer.html">Стать ревьюером</a></li>
            <li class="header-mobile__nav-item">
              <a href="https://t.me/commiters_codereview_bot" class="button header-mobile__button">Записаться</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>