
.form {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;

  @include md-down {
    flex-direction: column;
    align-items: flex-start;
  }

  &__wrap {

  }

  &__block {
    display: flex;
    flex-direction: column;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    @include md-down {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__input {
    //display: none;
    position: relative;
    cursor: pointer;
    outline: none;
    width: 240px;
    height: 50px;
    border: 0;
    padding: 17px 18px;
    background: #DFD3F5;
    border-radius: 2px;
    font-size: 14px;
    line-height: 17px;
    -webkit-appearance: none;
    appearance: none;
    color: #000000;

    &::placeholder {
      color: #6F6F6F;
    }
  }



  &__alert {
    text-align: left;
  }

  &__alert-text {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    opacity: 0;
    transition: opacity 0.2s ease-in;

    &--default {
      display: none;
      background-color: #FFFFFF;
      border-radius: 2px;
      height: 50px;
      padding: 17px 64px;
      color: #FF6B00;
    }

    &--red {
      //visibility: hidden;
      color: #e88282;
      //opacity: 1;
    }
  }


}