.about {
  padding-top: 120px;
  padding-bottom: 250px;

  @include md-down {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  &__wrap {
    display: flex;
    align-items: center;

    @include md-down {
      flex-direction: column;
    }
  }

  &__image {
    margin-right: 80px;

    @include lg-down {
      margin-right: 40px;
    }

    @include md-down {
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    max-width: 525px;

    @include lg-down {
      max-width: 500px;
    }
  }

  &__title {
    background: -webkit-linear-gradient(180deg, #2F2B70 -9.12%, #00BFA6 116.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;

    @include sm-down {
      margin-bottom: 20px;
    }
  }

  &__text {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      font-weight: 700;
    }

    a {
      font-weight: 700;
      transition: all 0.2s ease-in-out;
      color: #2F2B70;

      &:hover {
        color: #00bfa6;
      }
    }
  }
}