///////////////////////////old
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
///////////////////////////old

//theme
@import "base/color-theme";
//variables
@import "base/variables";
//bootstrap
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../node_modules/bootstrap/scss/mixins/container";
@import "../../node_modules/bootstrap/scss/mixins/grid";
@import "../../node_modules/bootstrap/scss/mixins/utilities";
@import "../../node_modules/bootstrap/scss/vendor/rfs";
//css variables
@import "base/css-variables";
//normalize
@import "../../node_modules/normalize.css/normalize";
//bootstrap grid
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities, (
    "width": map-merge(
      map-get($utilities, "width"),
      ( responsive: true ),
    ),
    "column-gap": (
      property: column-gap,
      class: column-gap,
      responsive: true,
      values: $spacers
    ),
    "row-gap": (
      property: row-gap,
      class: row-gap,
      responsive: true,
      values: $spacers
    ),
  )
);

@import "../../node_modules/bootstrap/scss/utilities/api";

@import "base/basic";
@import "base/layout";

@import "helpers/sprite";
@import "vendor/libs";
@import "base/typography";

@import "components/buttons";
@import "components/components";
@import "components/sections";

@import "helpers/helpers";
@import "../blocks/blocks";