<!DOCTYPE html>
<html lang="ru">

  @@include("../blocks/modules/layout/head.html")

  <body>

    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TML7HDJ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    
    <div class="wrapper">
      @@include("../blocks/modules/header/header.html", {"page": "interview"})
      <main class="main">
        @@include("../blocks/modules/sections/welcome.html", {"page": "interview"})

        <section class="section section_light">
          @@include("../blocks/modules/sections/what-we-do.html")
          @@include("../blocks/modules/sections/our-target.html")
          <!-- @@include("../blocks/modules/sections/you-can.html") -->
        </section>
        <section class="section section_green">
         
          @@include("../blocks/modules/sections/our-raiting.html")
        </section>
        

        <!-- <section class="section section_dark">
          <img src="/img/figures/waves-top.svg" class="section__figure section__figure_top"></img>
          @@include("../blocks/modules/sections/who-needs.html") 
           <img src="/img/figures/waves-bottom.svg" class="section__figure section__figure_bottom"></img>
        </section> -->

        <section class="section section_dark">
          <!-- <img src="/img/figures/waves-top.svg" class="section__figure section__figure_top"></img> -->
          <!-- @@include("../blocks/modules/sections/code-quality.html") -->
          @@include("../blocks/modules/sections/reviewers.html")
       
        </section>

        <section class="section section_light">
          @@include("../blocks/modules/sections/reviews.html", {
            "page": "interview",
            "title": "О нашем курсе",
            "text": "Что о нас говорят ребята, которым мы помогаем"
          })
          <img src="/img/figures/waves-bottom.svg" class="section__figure section__figure_bottom"></img>
        </section>

        <section class="section section_light">
      
        @@include("../blocks/modules/sections/how-it-works.html", {"page": "interview"})
        @@include("../blocks/modules/sections/form-section-wide.html", {
          "page": "interview",
          "title": "Сделай шаг на пути к работе мечты",
          "text": "Оставь заявку, чтобы получить <strong>бесплатную</strong> консультацию и начать подготовку к собеседованиям",
          "button": "Записаться на консультацию"
        })
      </section>

        <section class="section section_dark section_last">
          <img src="/img/figures/waves-top.svg" class="section__figure section__figure_top"></img>
          @@include("../blocks/modules/sections/pricing.html", {"page": "interview"})          
          @@include("../blocks/modules/sections/form-section.html", {
            "page": "interview",
            "title": "Хочешь стать крутым разработчиком??",
            "text": "Оставь заявку и получи <strong>бесплатную</strong> консультацию уже сегодня",
            "button": "Записаться на бесплатную консультацию"
          })
          @@include("../blocks/modules/footer/footer.html")
       
        </section>

      </main>
    </div>
    
    @@include("../blocks/modules/layout/scripts.html")

  </body>

</html>




