<!DOCTYPE html>
<html lang="ru">

  @@include("../blocks/modules/layout/head.html")

  <body>
    
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TML7HDJ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    
    <div class="wrapper">
      @@include("../blocks/modules/header/header.html", {"page": "main"})
      <main class="main">
        @@include("../blocks/modules/sections/welcome.html", {"page": "main"})
        @@include("../blocks/modules/sections/about.html", {"page": "main"})
        @@include("../blocks/modules/sections/who-needs.html")

        <section class="section section_light how-it-works-section">
          @@include("../blocks/modules/sections/how-it-works.html")
          @@include("../blocks/modules/sections/form-section-wide.html", {"page": "main"})
        </section>

        @@include("../blocks/modules/sections/code-quality.html")
        @@include("../blocks/modules/sections/reviews.html", {"page": "main"})

        <section class="section section_last section_dark">
          <img src="/img/figures/waves-top.svg" class="section__figure section__figure_top"></img>
          @@include("../blocks/modules/sections/pricing.html", {"page": "main"})
          @@include("../blocks/modules/sections/form-section.html", {"page": "main"})
          @@include("../blocks/modules/footer/footer.html")
        </section>

      </main>
    </div>
    
    @@include("../blocks/modules/layout/scripts.html")

  </body>

</html>



