<section class="section" id="registration-form-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">

        <div class="final-content-box">
          <h4 class="final-content-box__title">@@title</h4>
          <div class="final-content-box__text">
            <p>@@text</p>
          </div>
          @@if (page === 'main' || page === 'interview') {
            <div class="final-content-box__form">
              @@include("../form/form.html", {"button": "@@button", "id": "2"})
            </div>
          }
          @@if (page === 'reviewer') {
            <a href="https://t.me/codereivew_reviewers_bot" class="button button_large final-content-box__button w-100 w-sm-auto">@@button</a>
          }
        </div>
        
      </div>
    </div>
  </div>
</section>