<section class="section section_last section_dark code-quality-section">
  @@if (page === 'main') {
    <section id="pricing" class="section section-pricing">
      <div class="container">

        <div class="mb-45 mb-md-60 mb-xl-70">
          <h2 class="text-center mb-30 mb-lg-20">Стоимость</h2>
          <p class="text-sub-title text-center">Платите за то, чем вы действительно пользуетесь</p>
        </div>

        <div class="section-pricing__elements row row-gap-40 row-gap-md-50 justify-content-center">
          <!-- item -->
          <div class="col-md-6 col-xl-4">
            <div class="pricing-box">
              <h3 class="pricing-box__title gradient-text gradient-text_style-3">1 код-ревью</h3>
              <div class="pricing-box__text">
                <p>Разбор кода <strong>Middle</strong> и <strong>Senior</strong> разработчиками</p>
                <p>Детальный анализ ошибок</p>
                <p>Возможность задать вопросы ревьюеру</p>
                <p class="pricing-box__youtube text-muted">Видео разбор вашего кода</p>
              </div>
              <span class="pricing-box__price pricing-box__price_old">1 990 ₽</span>
              <span class="pricing-box__price">990 ₽</span>
              <a class="button button_large pricing-box__button" href="https://t.me/commiters_codereview_bot">Купить</a>
              <span class="pricing-box__discount">-50%</span>
            </div>
          </div>
          <!-- item -->
          <div class="col-md-6 col-xl-4">
            <div class="pricing-box">
              <h3 class="pricing-box__title gradient-text gradient-text_style-4">3 код-ревью</h3>
              <div class="pricing-box__text">
                <p>Разбор кода <strong>Middle</strong> и <strong>Senior</strong> разработчиками</p>
                <p>Детальный анализ ошибок</p>
                <p>Возможность задать вопросы ревьюеру</p>
                <p>
                  <a target="_blank" class="pricing-box__youtube" href="https://www.youtube.com/channel/UC6wNgLxcNW72CRow-Hyu0LA">Видео разбор вашего кода</a>
                </p>
              </div>
              <span class="pricing-box__price pricing-box__price_old">3 490 ₽</span>
              <span class="pricing-box__price">1990 ₽</span>
              <a class="button button_large pricing-box__button" href="https://t.me/commiters_codereview_bot">Купить</a>
              <span class="pricing-box__discount">-67%</span>
            </div>
          </div>
          <!-- item -->
          <div class="col-md-6 col-xl-4">
            <div class="pricing-box">
              <h3 class="pricing-box__title gradient-text gradient-text_style-5">10 код-ревью</h3>
              <div class="pricing-box__text">
                <p>Разбор кода <strong>Middle</strong> и <strong>Senior</strong> разработчиками</p>
                <p>Детальный анализ ошибок</p>
                <p>Возможность задать вопросы ревьюеру</p>
                <p>
                  <a target="_blank" class="pricing-box__youtube" href="https://www.youtube.com/channel/UC6wNgLxcNW72CRow-Hyu0LA">Видео разбор вашего кода</a>
                </p>
              </div>
              <span class="pricing-box__price pricing-box__price_old">6 990 ₽</span>
              <span class="pricing-box__price">4 500 ₽</span>
              <a class="button button_large pricing-box__button" href="https://t.me/commiters_codereview_bot">Купить</a>
              <span class="pricing-box__discount">-77%</span>
            </div>
          </div>

        </div>

        <div class="section-pricing__text row mt-50 mt-lg-60">
          <div class="col-lg-8">
            <p>Все ревью вы сможете использовать в течение 1 года после покупки, без каких-либо подписок или обязательств.</p>
            <p>Если вы останетесь недовольны полученным фидбэком, то мы <strong>вернем вам деньги</strong>.</p>
          </div>
        </div>
      </div>
    </section>
  }

  @@if (page === 'reviewer') {
    <section class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="content-image col-lg-5 offset-lg-1 mb-35 mb-lg-0 order-lg-2">
            <img src="/img/rate.png" alt="image">
          </div>
          <div class="col-lg-6">
            <h2>Рейтинг</h2>
            <p>Каждый ревьюер получает баллы за оставленные комментарии, которые затем учитываются в его <strong>личном рейтинге</strong>.</p>
            <p>На рейтинг влияют регулярность, полезность и количество комментариев, которые ревьюер оставляет во время сессии.</p>
            <p>За два месяца в ревью поучавствовало  около 100 человек, которые уже успели оставить более <strong>1000 комментариев</strong> на разных языках программирования.</p>
            <div class="content-image mt-30">
              <img src="/img/langs.png" alt="image">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="content-image col-md-8 offset-md-2 offset-lg-0 col-lg-5 mb-35 mb-lg-0">
            <img src="/img/git.png" alt="image">
          </div>
          <div class="col-lg-6 offset-lg-1">
            <h2 class="github-title">GitHub <img src="/img/icon/git-icon.svg" alt="image"></h2>
            <p>Все наши ревью проходят на <strong>платформе GitHub</strong>, а это значит, что у вас будет отличная возможность прокачать свой GitHub аккаунт, чтобы получать новые <strong>предложения по работе</strong>.</p>
            <p><strong>Улучшайте свою статистику</strong> и получайте новых подписчиков на GitHub.</p>
          </div>
        </div>
      </div>
    </section>
  }
  
  <section class="section" @@if (page === 'main') {id="registration-form"}>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          @@if (page === 'main') {
            <div class="final-content-box">
              <h4 class="final-content-box__title">Хотите прислать<br> свой код на ревью?</h4>
              <div class="final-content-box__text">
                <p>Оставьте ваш ник в телеграм и прокачайте свой код уже сегодня.</p>
              </div>
              <div class="final-content-box__form">
                @@include("../form/form.html")
              </div>
            </div>
          }
          @@if (page === 'reviewer') {
            <div class="final-content-box">
              <h4 class="final-content-box__title">Хотите присоединиться к команде ревьюеров?</h4>
              <div class="final-content-box__text">
                <p>Пройдите регистрацию через нашего бота-помощника и начните помогать разработчикам уже сегодня.</p>
              </div>
              <a href="https://t.me/YourCodeReview" class="button button_large final-content-box__button w-100 w-sm-auto">Стать ревьюером</a>
            </div>
          }
        </div>
      </div>
    </div>
  </section>
    
  @@include("../footer/footer.html")

  <img src="/img/figures/waves-top.svg" class="section__figure section__figure_top"></img>
</section>