<section class="section section_dark welcome-section">
  <div class="container">
    <div class="welcome-section__container row align-items-center justify-content-between">

      <div class="welcome-section__image col-lg-6 order-lg-2 mb-35 mb-lg-0">
        <img src="/img/pair.svg" alt="image">
      </div>

      <div class="welcome-section__text-content col-lg-6 col-xxl-5">
        <h1 class="welcome-section__title">Your codereview</h1>
        @@if (page === 'main') {
          <p class="welcome-section__text-1">Первый русскоязычный сервис код-ревью.</p>
          <div class="welcome-section__bottom-text">
            <p class="welcome-section__text-2">Хотите улучшить свой код?</p>
            <a href="https://t.me/commiters_codereview_bot" class="button button_large welcome-section__button w-100 w-sm-auto">Записаться на код-ревью</a>
          </div>
        }
        @@if (page === 'reviewer') {
          <p class="welcome-section__text-1">Первое русскоязычное код-ревью комьюнити.</p>
          <div class="welcome-section__bottom-text">
            <p class="welcome-section__text-2">Хочешь стать ревьюером?</p>
            <p class="welcome-section__text-3">Присоединяйся к команде</p>
            <a href="https://t.me/YourCodeReview" class="button button_large welcome-section__button w-100 w-sm-auto">Стать ревьюером</a>
          </div>
        }
      </div>

    </div>
  </div>
  <img src="/img/figures/crescent-bottom.svg" class="section__figure section__figure_bottom"></img>
</section>