.how {
  padding-top: 120px;
  padding-bottom: 150px;

  @include md-down {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;

    @include sm-down {
      flex-direction: column-reverse;
    }
  }

  &__image {
    margin-left: 80px;

    @include lg-down {
      width: 100%;
      max-width: 450px;
      margin-left: 40px;
    }

    @include md-down {
      max-width: 350px;
      margin-left: 0;
      margin-bottom: 40px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__list {
    max-width: 525px;

    @include lg-down {
      max-width: 500px;
    }
  }

  &__title {
    width: 100%;
    max-width: 600px;
    background: -webkit-linear-gradient(94.64deg, #2F2B70 -4.46%, #625CC6 61.52%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 64px;

    @include sm-down {
      margin-bottom: 40px;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    max-width: 420px;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }

    &-num {
      font-weight: 600;
      margin-right: 8px;
    }

    &-text {
      font-weight: 600;
    }
  }
}