.footer {
  color: var(--color-muted);
  &__nav {
    padding: 40px 0;
    border-top: 1px solid var(--color-muted);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px 20px;
  }
  &__link {
    font-weight: 500;
    font-size: 18px;
  }
  &__mail {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-muted);
  }
  &__social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 30px;
  }
  &__social-group {
    display: flex;
    gap: 15px;
  }
  &__social-icon {
    color: #fff;
    height: 25px;
    min-width: 25px;
    svg {
      display: block;
      height: 100%;
      width: auto;
      color: inherit;
    }
  }
  @include media-breakpoint-down(xl) {
    &__nav {
      flex-direction: column;
    }
    &__list {
      margin-bottom: 24px;
    }
  }
  @include media-breakpoint-down(md) {
    &__link {
      display: block;
      text-align: center;
    }
  }
}