.footer {
  color: var(--color-muted);
  padding: 40px 0;
  border-top: 1px solid var(--color-muted);
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  @include media-breakpoint-down(xl) {
    &__nav {
      flex-direction: column;
    }
    &__list {
      margin-bottom: 24px;
    }
  }
  @include media-breakpoint-down(md) {
    &__list {
      flex-direction: column;
    }
  }
}

.footer__link {
  font-weight: 500;
  font-size: 18px;

  @include sm-down {
    display: block;
    text-align: center;
  }
}

.footer__social {
  display: flex;
  align-items: center;

  @include sm-down {
    flex-direction: column;
  }
}

.footer__mail {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  margin-right: 30px;
  transition: all 0.2s ease-in-out;

  @include sm-down {
    text-align: center;
    margin-right: 0;
    margin-bottom: 20px;
  }

  &:hover {
    color: #00bfa6;
  }
}

.footer__social-group {
  display: flex;
  align-items: center;
}

.footer__github {
  margin-right: 12px;

  svg {
    path {
      transition: all 0.2s ease-in-out;
    }
  }

  &:hover {
    svg {
      path {
        fill: #00bfa6;
      }
    }
  }
}

.footer__telegram {
  svg {
    path {
      transition: all 0.2s ease-in-out;
    }
  }

  &:hover {
    svg {
      path {
        fill: #00bfa6;
      }
    }
  }
}