:root {
  --color-accent-1: #00BFA6;
  --color-accent-1_2: #00e3c4;

  --color-primary: #3F5150;
  --color-light: #E5E5E5;
  --color-default: #2F2B70;
  --color-muted: rgba(224, 224, 224, 0.8);

  --color-body-bg: #E5E5E5;

  --section-bg-gradient-dark: linear-gradient(109.3deg, #554FB6 -0.77%, #2F2B70 24.75%, #2F2B70 79.82%, #554FB6 102.39%);
  --section-bg-gradient-light: linear-gradient(179.57deg, #FFFFFF 2.88%, rgba(216, 216, 216, 0.2) 50.4%, #FFFFFF 96.93%);
  --color-bg-modal: rgba(0, 0, 0, 0.35);
}