//:root {
//  --header-bg-color: #FFFFFFF;
//  --header-title-font-color: #666666;
//  --header-undertitle-font-color: #CCCCCC;
//
//  --aside-bg-color: #05212A;
//  --aside-title-font-color: #FFFFFFF;
//  --aside-undertitle-font-color: #6E8E97;
//  --aside-item-font-color: #A3ACAE;
//  --aside-item-hover-font-color: #FFFFFFF;
//  --aside-button-bg-color: #2A4249;
//
//  --main-bg-color: #D9E8F2;
//  --main-title-font-color: #000000;
//  --main-time-font-color: #CFCFCF;
//  --main-button-font-color: #FFFFFF;
//  --main-button-bg-color: #19BCF3;
//  --main-block-bg-color: #FFFFFF;
//
//  --closed-task-bg-color: #5BBD72;
//  --opened-task-bg-color: #19BCF3;
//  --task-bg-color: #F3F3F3;
//  --task-font-color: #FFFFFF;
//  --task-time-color: #AAAAAA;
//}

html {
  font-size: 16px;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
}

body {
  font-size: 100%;
  font-weight: 400;
  line-height: 1.15;
  font-family: $FontPrimary;
  color: #D5DAFE;
  background-color: #131733;
  position: relative;
  min-width: 320px;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include md-down {
    overflow-x: hidden;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @include lg-down {
    max-width: 100%;
  }
  //
  //&--inner {
  //  max-width: 1470px;
  //  width: 100%;
  //  padding-right: 15px;
  //  padding-left: 15px;
  //  margin-right: auto;
  //  margin-left: auto;
  //}
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.menu-is-active {
  overflow: hidden;
}



h1, .h1 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
  font-family: $FontPrimary;
  margin: 0;

  //@include lg-down {
  //  font-size: 34px;
  //  line-height: 45px;
  //}

  @include sm-down {
    font-size: 32px;
    line-height: 38px;
  }

}

h2, .h2 {
  font-family: $FontPrimary;
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin: 0;

  //@include xs-down {
  //  font-size: 26px;
  //  line-height: 32px;
  //}

  //@include xl-down {
  //  font-size: 42px;
  //  line-height: 46px;
  //}
  //
  //@include sm-down {
  //  font-size: 24px;
  //  line-height: 28px;
  //}
}
//
h3, .h3 {
  color: #ffffff;
  margin: 0;

}
//
//h4 {
//  font-size: 20px;
//  font-weight: 500;
//  line-height: 28px;
//  color: #ffffff;
//  margin: 0;
//}

.orange {
  color: #f4a600;
}

.gray {
  color: rgba(207, 207, 221, .4);
}

.white {
  color: #ffffff;
}

.overflow {
  overflow: hidden;
}

//.container {
//    @include container();
//    @include sm(max-width, rem(510));
//    @include md(max-width, rem(690));
//    @include lg(max-width, rem(930));
//    @include xl(max-width, rem(1110));
//}
